.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.header .logo {
  width: 50px;
  display: grid;
  place-items: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile a {
  padding: 0 0.75rem;
}

.profile img {
  max-width: 50px;
  border-radius: 50%;
}
