.ask {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
}

.ask h1 {
  margin: 0.5rem 0;
}

.ask .ask-desc {
  color: var(--clr-light-grey);
}

.ask form {
  display: flex;
  flex-direction: column;
}

.ask form label {
  font-size: 2rem;
  padding: 0.25rem 0;
}

.ask form input[type="text"] {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--clr-light-grey);
  border-radius: 0.25rem;
}

.ask form textarea {
  font-family: var(--ff-mono);
  font-size: 1rem;
  height: 300px;
  padding: 0.5rem;
  border: 1px solid var(--clr-light-grey);
  border-radius: 0.25rem;
}

@media (min-width: 800px) {
  .ask {
    max-width: 750px;
    margin: 0 auto;
    padding: 2rem 0;
  }
}

@media (min-width: 1000px) {
  .ask {
    max-width: 775px;
    margin: 0 auto;
    padding: 2rem 0;
  }
}

@media (min-width: 1200px) {
  .ask {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
  }
}
