.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  width: calc(100% - 2rem);
  padding: 1rem;
  z-index: 10;
  background-color: var(--clr-light);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.header .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--clr-orange);
}

.header .logo img {
  width: 50px;
}

.header .logo h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0 1rem;
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile a,
.log-in a {
  margin: 0 0.75rem;
  font-size: 1.5rem;
}

.profile img {
  max-width: 50px;
  border-radius: 50%;
  padding: 0 0.5rem 0 1rem;
}

@media (min-width: 550px) {
  .header .logo h2 {
    display: initial;
  }
}
