@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

html {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Josefin Sans", sans-serif;
  --ff-mono: "Fira Code", monospace;

  --fs-h1: 3rem;
  --fs-h2: 2.15rem;
  --fs-h3: 1.8rem;
  --fs-h4: 1.35rem;
  --fs-body: 1.1rem;

  --clr-black: #010102;
  --clr-dark: #111111;
  --clr-light: #fafafa;
  --clr-light-grey: #aaaaaa;
  --clr-grey: #555555;
  --clr-orange: #ffaa00;
  --clr-dark-orange: #ff9900;
  --clr-pink: #ff797d;

  height: 100%;

  scroll-behavior: smooth;

  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--clr-light);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
  padding-top: 5rem;
}

a {
  cursor: pointer;
  color: var(--clr-orange);
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  html {
    --fs-h1: 4.5rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-body: 1.25rem;
  }
}

@media (min-width: 1200px) {
  html {
    --fs-h1: 5.2rem;
    --fs-h2: 3.65rem;
    --fs-h3: 2.25rem;
    --fs-h4: 1.8rem;
    --fs-body: 1.4rem;
  }
}

@media (min-width: 1500px) {
  html {
    --fs-h1: 5.5rem;
    --fs-h2: 3.8rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2.15rem;
    --fs-body: 1.5rem;
  }
}

@media (min-width: 1750px) {
  html {
    --fs-h1: 5.75rem;
    --fs-h2: 4rem;
    --fs-h3: 2.75rem;
    --fs-h4: 2.3rem;
    --fs-body: 1.5rem;
  }
}

@media (min-width: 2000px) {
  html {
    --fs-h1: 6.1rem;
    --fs-h2: 4.1rem;
    --fs-h3: 3rem;
    --fs-h4: 2.5rem;
    --fs-body: 1.5rem;
  }
}

.gradient-text {
  background: linear-gradient(120deg, var(--clr-dark-orange), var(--clr-pink));
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-bg 1s ease alternate-reverse infinite;
}

@keyframes gradient-bg {
  from {
    background-position: top left;
  }

  to {
    background-position: bottom right;
  }
}
