.splash {
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  color: var(--clr-light);
  background: linear-gradient(140deg, var(--clr-orange), var(--clr-pink));
  background-attachment: fixed;
}

.splash h1 {
  font-size: var(--fs-h2);
  margin: 0.5rem;
  opacity: 0;
  transform: translateY(-1rem);
  transition: 1s transform ease, 1s opacity ease;
}

.splash h3 {
  font-size: var(--fs-h1);
  font-family: var(--ff-mono);
  font-weight: 300;
  margin: 0.5rem;
  opacity: 0;
  transform: translateY(1rem);
  transition: 0.5s 1s transform ease, 0.5s 1s opacity ease;
}

.splash hr {
  max-width: 250px;
  margin: 1rem auto;
  border: 1px solid var(--clr-light);
  transform: scale(0.01);
  transition: 2s transform ease-in-out;
}

.splash p {
  font-size: var(--fs-body);
  font-family: var(--ff-secondary);
  margin: 0.5rem;
  opacity: 0;
  transform: translateY(-0.25rem) scaleX(0.9);
  transition: 1.5s 1s transform ease, 1.5s 1s opacity ease;
}

div.splash div .show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@media (min-width: 800px) {
  .splash {
    min-height: 650px;
  }
}

@media (min-width: 1000px) {
  .splash {
    min-height: 675px;
  }
}

@media (min-width: 1200px) {
  .splash {
    min-height: 700px;
  }
}

@media (min-width: 1500px) {
  .splash {
    min-height: 750px;
  }
}

.start-now {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.start-now img {
  align-self: center;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid var(--clr-dark);
  border-radius: 0.25rem;
}

@media (min-width: 800px) {
  .start-now {
    max-width: 750px;
  }
}

@media (min-width: 1000px) {
  .start-now {
    max-width: 775px;
  }
}

@media (min-width: 1200px) {
  .start-now {
    max-width: 800px;
  }
}
